* { margin: 0; padding: 0; box-sizing: border-box; }
body { background: #080808; color: white; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0a0a0a; }
::-webkit-scrollbar-thumb { background: #222; border-radius: 3px; }
